<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@ServerVersion</key>
	<string>2.1.0</string>
	<key>Cryptex1,Ticket</key>
	<data>
	MIIN/BYESU00TQIBADGCBHT/hOqFnEKCBGswggRnFgRNQU5CMYIEXf+E6oWcUIICujCC
	ArYWBE1BTlAxggKs/4SSvaRECzAJFgRCT1JEAgEo/4SalaBPCzAJFgRDRVBPAgED/4Sa
	oZJQDTALFgRDSElQAgMAgRL/hJrBpE8LMAkWBENQUk8BAf//hZqRnk0LMAkWBFNET00C
	AQH/haqRkkQaMBgWBFVESUQEEAAAAAAAAIESAAlkzAqDoB7/hpO90mQaMBgWBGJvaWQE
	EGeChH3WhUVtrvAfo8pBsiv/hpuxwnMMMAoWBGNsYXMCAgDx/4abucZoOjA4FgRjbmNo
	BDB7PtZNvuPheCMVN44TAVa+TxjQ5+54Xm6liUJ7Pg+vy0X5+2NQJrfMYv5eA8KqikD/
	hrON0HANMAsWBGZjaHACAwD/EP+G47nGaDowOBYEbG5jaAQwcfzG0Fh+KLcNdhiM5Nfb
	ruMcNFtO4AzrXSYX+DkC7qKeC5hDMmU4gyTDav8FxiCX/4bjuchtCzAJFgRsbmRtAgEA
	/4bzkd5tCzAJFgRuZG9tAgEF/4eDhexlGTAXFgRwYXZlBA8xMS4xMy4yNzAuNi4wLDD/
	h5vJ7G4eMBwWBHNydm4EFACUo10wZ9F4YwwkRt5yNlHs+0bu/4eb0fJwCzAJFgRzdHlw
	AgEB/4ej5eBlCzAJFgR0eXBlAgEE/4erwcZsCzAJFgR1cGNsAQH//4ezueptGTAXFgR2
	bnVtBA8xMS4xMy4yNzAuNi4wLDD/h8Ox3GQLMAkWBHhsbmQCAQD/h8Ox3Gg6MDgWBHhs
	bmgEMO59V/OVxRMFiUOF9XCG7U8DdPWDRPrMmISiy2gctxJPHlDM1a8oobQ+bkPlE26e
	4f+Hw7nGaDowOBYEeG5jaAQwez7WTb7j4XgjFTeOEwFWvk8Y0OfueF5upYlCez4Pr8tF
	+ftjUCa3zGL+XgPCqopA/4fDuchtCzAJFgR4bmRtAgEA/4a7kdpnSzBJFgRnZG1nMUH/
	hKKdplQ6MDgWBERHU1QEMK23ChNX6wBbkme39D8vOhG+nRPtwzdghUePL2vAI+s0vk3f
	F7go6THbyQZAmIovUf+Gu6XcY0swSRYEZ2luYzFB/4SinaZUOjA4FgRER1NUBDDs03oE
	2Sjq6VECiCJPuLNmEOYtLP0KB2FWW2pdW++QRXIN5XfWgOrW63EGiXWKQ+b/hrul3GZL
	MEkWBGdpbmYxQf+Eop2mVDowOBYEREdTVAQwIj36wCSwnUlrlkl9k00/jnt5k2wCronp
	A9M/nStFC7ola2jPOSLQ+UP/p5SS2bx9/4a70cZkSzBJFgRndGNkMUH/hKKdplQ6MDgW
	BERHU1QEMD0iprnjP58FZNI0wJ1TgU4T0f5PtxPa8edlBL9X4DyhyhAA7RykdvYbbief
	M/4Mkf+Gu9HOdkswSRYEZ3RndjFB/4SinaZUOjA4FgRER1NUBDDK8nRSpGn13e6PtNrG
	HAAg3XxD7Cao7S0RGvJTCj41vUWyJn/xXwBy9ukTwoS6nusEggIAn+30EHAuvDKUrgI3
	L5nCExvjPYcdldEZHJUQDqWZ/wg8UHL+lm8Gxk7MRz59IcPBSRxxxulv666/8+xjiQ2Y
	mBt6EQ2pHNP2gLUZn3YM0f2RPX8Mu7HVctZDTtNfbq1e+CZI8+ooSoeRuXzCEpn9ImVn
	W7nZIBF3GO7KfsEJKWjFyLQSyd/+lQdCuBZzpESo5zjmKdxpqWYE39xBoRqdZxIF01ZT
	83CcdltF0/2xwZ2IRU/O/roxMiveRolmm4EMRpwDyn/mntAn81mvZk5ZKnJbimiu5tkC
	+Diu/oE/abdN6R1yzN9hQlNiB1CvGKVWTPmZFyeTP12j15N2A+NMaHSKYLtlagaQ/i89
	844qaGWhXqYKNhSlGPVtqrmB1r4SX3yfdjluoNzogb9Z6z4DNFjKclifTLn9NZSDwIx1
	fNRwH0VIghUC/2bGpuHp7L4EuAkEARABvi2RH15GPBdIB1Qy7nqhrF24K7MbeZJ6Y/Ex
	rh566gpLDzq5emtmW/TUFyERg4EdhrE44Yu2s7786EPJ+eqjH9CvHlbpPaGD/IV7E9ws
	9BKNDJ+AX6nYInyK4YD1Z1faJ25ZU2hm2wlzt2NNmAsYDd+e6F1Ca1mvdVEo9i8qk6rX
	YDHEGAChjff9ttzhG67x2xYlxzDilIBY4rlLR7MWxLb+bzPzlrB5Eq0wggdzMIIHbzCC
	BVegAwIBAgIUZlx7o+AZgyifyPbfmrETTwxxjQ4wDQYJKoZIhvcNAQEMBQAwTzErMCkG
	A1UEAwwiQXBwbGUgRERJIFNlY3VyZSBCb290IFJvb3QgQ0EgLSBHMTETMBEGA1UECgwK
	QXBwbGUgSW5jLjELMAkGA1UEBhMCVVMwHhcNMjUxMDIxMjA0OTAyWhcNNDAxMTE0MDAw
	MDAwWjBeMTowOAYDVQQDDDFWMS1aRkYxMC1Uc3NMaXZlLU1hbmlmZXN0S2V5LUV4Y2xh
	dmUtUmV2Qy1Hb2xkLUcxMRMwEQYDVQQKDApBcHBsZSBJbmMuMQswCQYDVQQGEwJVUzCC
	AiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAMRUYY6BtauIEgTRmN/DbUHdeRpS
	E5QpayhiUEQ1Umt8hyKjAr1WpjJdmXp0uy9NmeJXMzynjwOVukq2Gq+Ap1kI3Q3FDbTm
	ZKnHLkSuC+TNQ5fACnqE0dBWi0s7IHNyF2UY1wy2XgqGau63Oh06L9gOyC578jsiUrNe
	Wi30J61Qrmry7XS1WJkNqQ9mvwOQ/bDvOdidrE3rPve+58i/MTx/ou0dSXO48WyQVsOz
	31Dk1QfAr+HMnu6oHNJb2DgO0IVK4PhZufK/yNI6h9o+502ZOhXsOAiE6NpLVf76eQgn
	Gvb33v3ENQ+V/3wLgQ8rKTYcxmWr7y7HYwjwltUh1C6HCrDZVEaXYMKiSZ0HPgHbx4h/
	E0rTIh42I/xzY+5cqAN4LuCmk+CEHbZxOWDQDeIF0cC+c/G8bU/90dVN8qcimuO3ouMH
	81K9vl+sRKZNJOVleq16d+8vJ8YbeqYq9v5cjaAv34uRMztKKnpSZblMtIo4QYLUlSIy
	jqG20scJmK+5tHjZ5rTINT+w1xXJzabvZVaiEliZ/GEUYj8lWnzCNAs/wfa2S384qBEm
	PCh0/CNBl5GxVN+YmBmjPtMYoauchraysco3fSYUqhAc4spzo4qO+djAlgVJqcoeVdnM
	gQr+S91AbCk3XJ4jGb7CanVVJj0wrgyPLPCcWfi8Ol61AgMBAAGjggIyMIICLjAMBgNV
	HRMBAf8EAjAAMB8GA1UdIwQYMBaAFGvCXgHDLLG6cIy8xAMnAN1RfxIXMB0GA1UdDgQW
	BBQZt2pLwsl6SFx1bVoqb4Bg/4Ux4zAOBgNVHQ8BAf8EBAMCB4AwggHMBgoqhkiG92Nk
	BgEPAQH/BIIBuTGCAbX/hOqFnFCCAYgwggGEFgRNQU5QMYIBev+EmpWgTwswCRYEQ0VQ
	TwIBA/+EmsGkTwwwChYEQ1BST6ACBQD/haqRkkQMMAoWBFVESUSgAgUA/4aL1c5zDDAK
	FgRhdWdzoQIFAP+Gk73SZAwwChYEYm9pZKACBQD/hpuxwnMMMAoWBGNsYXOgAgUA/4ab
	ucZoDDAKFgRjbmNooAIFAP+Gs43QcA0wCxYEZmNocAIDAP8Q/4bbhdJkDDAKFgRrYWlk
	oQIFAP+G47nGaAwwChYEbG5jaKACBQD/huO5yG0MMAoWBGxuZG2gAgUA/4bzkd5tDDAK
	FgRuZG9toAIFAP+Hm9HycAwwChYEc3R5cKACBQD/h6Pl4GULMAkWBHR5cGUCAQT/h6vB
	xmwLMAkWBHVwY2wBAf//h7O56m0MMAoWBHZudW2gAgUA/4fDsdxkDDAKFgR4bG5koAIF
	AP+Hw7HcaAwwChYEeGxuaKACBQD/h8O5xmgMMAoWBHhuY2igAgUA/4fDuchtDDAKFgR4
	bmRtoAIFAP+E+omUUB0wGxYET0JKUDET/4SinaZUDDAKFgRER1NUoAIFADANBgkqhkiG
	9w0BAQwFAAOCAgEAZfrCenPyD0WVD3CvmGkoRHaUy4w/gN2fqIPTXPY7m0uJNsLIJgZ/
	ghjiRl8gcULmJQzhlf3HSnxnJyV4Y70+BFiDidtj1ptRsWITZ1z+vuYYRoNl+Wny8jGm
	U95dd3QEyBjJXgJ4GqpS5mvIg99c3xhFFkxLC22/dQsXVth6EQSrmYJTCzD0LpTnKDKj
	tprY4hu35YfZl6HeC1ywqmHhJ8Zpo2oLlH9r4wLiiC1JyHLF3uDFzbeIdy0/l3uyWzz4
	xFZd/nLThULP4ieDsDSRS1JPSqo1DPFqY7pvgy7N35o+cuoDpeEqSL+07tLqFUmPfVs0
	FWgK9fnSFVLQjso1t5uvMpeABS0SfTBaUI+r0DevBoe02afjmhHoZTdsKPIaKcGcB/42
	TcWlHTzcG3HQWenCx9td+vT+5CV8+NZYd4y6WzXH3SJEswPhe/c1Offd4fq7WrdbAU9m
	dur9trEyL/noFlXQbFfYpyHiz4yQQlrzo7HqjpiJSfysSmPpmxwOb6npXFalKP4n+BSq
	uF99xPBvnp+GZEc967wXGU1a+023jrjbUuN2VMidWjyiyP8YZOlHx0jZCMqLQSuBRJtA
	Q06HxX3R+3ez4AyN3S7IumuQbgPX1FEPiqjc442D8GD2CNGJ1+fOwa5P1xPAZej7LTp+
	2c2j7NqE0Na/Eg7QEjA=
	</data>
</dict>
</plist>
