<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/System/Library/AssetsV2/com_apple_MobileAsset_PKITrustStore/purpose_auto/6dd55b0d06633a00de6f57ccb910a66a5ba2409a.asset</key>
	<true/>
	<key>/System/Library/AssetsV2/com_apple_MobileAsset_UAF_IF_Planner/purpose_auto/ae57a8b73c41af453274b709eb3b4f6767f5f243.asset</key>
	<true/>
</dict>
</plist>
